@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);
body {
    background-color: #eb8367;
    color: #eb8367;
    font-size: 100%;
    line-height: 0.5;
    font-family: "Roboto", sans-serif;
}

.button {
    font-weight: 300;
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    border: 1px solid #efefef;
    padding: 1.5em;
    border-radius: 3px;
    float: left;
    margin: 2em 0 0 -155px;
    left: 50%;
    position: relative;
    transition: all .3s linear;
}

.button:hover {
    background-color: black;
    border: black solid 1px;
    color: #fff;
}

p {
    font-size: 2em;
    text-align: center;
    font-weight: 100;
    color: black;
}

h1 {
    margin-top: 150px;
    text-align: center;
    font-size: 10em;
    font-weight: 100;
    text-shadow: white 1px 1px, white 2px 2px, white 3px 3px, white 4px 4px, white 5px 5px, white 6px 6px, white 7px 7px, white 8px 8px, white 9px 9px, white 10px 10px, white 11px 11px, white 12px 12px, white 13px 13px, white 14px 14px, white 15px 15px, white 16px 16px, white 17px 17px
}